node_modules
client/node_modules
client/build
!client/.env
dump
.idea
.git
emails
!public/.gitkeep
public
.env_repo
.node_env_repo
docker-compose.yaml
docker-compose.prod.yaml
docker-compose.yaml
output.log
README.md