.cdss-symptom-names{
    border: 1px solid;
    padding: 8px;
    border-radius: 10px;
    font-size: 14px;
    // color: #1890ff;
}

.cdss-active-symptom-names{
    border: 1px solid #1890ff;
    padding: 8px;
    border-radius: 10px;
    font-size: 14px;
    color: #1890ff;
}

.cdss-container{
    display: flex;
    flex-flow: wrap;
   
}



