.calendar-section {
  height: 100%;
  width: 50%;
  margin-left: 24px;

  &.disabled {
    .mask {
      background-color: @white;
      position: absolute;
      left: 50%;
      right: 0;
      top: 55px;
      bottom: 10px;
      opacity: 0.1;
      z-index: 2;
    }

    .fc-axis {
      &.fc-widget-content {
        opacity: 0.5;
      }
    }

    .calendar-toolbar {
      opacity: 0.5;
    }
  }

  .header {
    height: 45px;
    display: flex;
    align-items: flex-end;
  }

  .calendar-toolbar {
    height: 40px;
    background-color: rgba(212, 215, 217, 0.1);

    .date-picker {
      height: 32px;

      .ant-calendar-picker-input {
        &.ant-input {
          height: 32px;
          width: 164px;
        }
      }
    }
  }

  .fc-time-grid-event.fc-allow-mouse-resize {
    .fc-resizer {
      &:after {
        color: @deep-sea-blue;
        font-size: 14px;
      }
    }
  }

  .fc-event {
    //need important here because fullcalendar apply inline styling at run time
    left: 0 !important;
    right: 0 !important;
    margin-right: 0 !important;
    border-color: none;

    &.current {
      border: 1px solid;
      border-color: @deep-sea-blue;
      z-index: 4 !important;

      .fc-bg {
        background-color: @light-blue-grey;
      }
    }

    &.booked {
      border: 1px solid;
      border-color: @silver;

      .fc-bg {
        background: repeating-linear-gradient(
          45deg,
          @white 9px,
          @white 11px,
          @silver 14px,
          @silver 12px
        );
      }
    }
  }

  .fc-event .fc-content {
    .fc-time {
      display: none;
    }
  }

  .fc-event .fc-bg {
    opacity: 1;
  }

  .fc-axis {
    &.fc-widget-content {
      background-color: @silver-10;
    }

    text-align: center;
    font-size: 12px;
    font-family: @MediumFont;
  }

  .fc-toolbar.fc-header-toolbar {
    display: none;
  }

  .fc-widget-content {
    background-color: @white;
  }

  .fc-divider.fc-widget-header {
    display: none;
  }

  .fc-view.fc-agendaDay-view.fc-agenda-view {
    .fc-day-grid {
      display: none;
    }

    > table {
      > thead.fc-head {
        display: none;
      }
    }
  }
}
