.form-label {
  font-style: normal;
  font-weight: normal;
  // font-size: @12px!important;
  font-size: 18px!important;
  font-weight: 500;
  margin-bottom: 8px;
  line-height: @22px;
  color: #979797;
}

.ant-drawer-body{
  display: flex;
  min-height: 90%;
  flex-direction: column;
  padding-bottom:10px;
  padding-left: 10px;
}

.template-block {
  display: flex;
  min-height: 100%;

  flex-direction: column;
  align-items:center;
  flex-grow:1;
  margin-top: 20px;
  padding-left: 10px;
}

.drawer-block{
  display:flex;
  flex-direction: column;
  width:100%;
  min-width: 90%;
  padding:8px;
  border:solid 1px #e7e7e7;
  border-radius: 4px;
  margin:10px;
  margin-left: 0px;
}

.drawer-block-description{
  color:#212b36;
  font-size: 12px;
  margin-top: 4px;
  margin-bottom: 4px;
  margin-right: 4px;
}

.medication-image-tablet{
  height:20px;
  margin-left:8px;
}

.ant-calendar-picker-clear, .ant-calendar-picker-icon {
  top: 52%;
}


.ant-drawer-body .ant-form-item-children textarea {
  margin-bottom: 25px;
}