.patient-table .ant-table-thead > tr > th .ant-table-column-sorter {
  // position: absolute;
  // top: 35%;
  // right: 5%;
  position: absolute;
  top: 0;
  right: 0;
  width: 28px;
  height: 100%;
  text-align: center;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
