@import (reference) "../variables/index.less";

.registration-container{
    display:flex;
    flex-direction:column;
    // justify-content: space-between;
    margin-left:86px;
    min-height: 100%;
    width:100%
}

.header{
    display:flex;
    flex-direction:column;
    margin-left:10px;
    margin-top:15px;
    text-align: left;
    font-size: 28px;
    font-weight: 600;
}


.footer{
    display:flex;
    justify-content: space-between;
    align-items:center;
    border-top: 1px solid #a4a4a4;
    height:80px;
    width:100%;
    padding-left:20px;
    padding-right:20px;
    margin-top:15px;
    text-align: left;
    font-size: 28px;
    font-weight: 600;
    // margin-bottom:-1px
}

.footer-text-active{
    font-size: 24px;
  font-weight: 600;
  color:#528ff0;
  cursor: pointer;
}

.footer-text-inactive{
    font-size: 24px;
  font-weight: 600;
  color:#58666e
}


.registration-body{
    display:flex;
    margin-top:20px;
}

.form-block{
    display:flex;
    min-height:80%;
    flex-direction:column;
    margin-top:20px;
    padding-left: 10px;
}

.form-headings{
    font-size: 18px;
    font-weight: 500;
}

.form-category-headings{
    font-size: 22px;
    font-weight: 600;
    margin-top: 12px;
    margin-bottom: 12px;
}
.form-inputs{
    width: 261px;
    height: 40px;
    margin-top: 6px;
    margin-bottom: 12px;
}

.avatar-uploader{
    width: 128px;
    height: 128px;
    margin-top: 6px;
    margin-bottom: 12px;
}