
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
  <head>
    <link rel="stylesheet" type="text/css" href="css/app.css">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Welcome to Adhere!</title>
    <!-- <style> -->
  </head>
  <body>
    <span class="preheader"></span>
    <table class="body">
      <tr>
        <td class="center" align="center" valign="top">
          <center data-parsed>
            
            <table align="center" class="container header float-center"><tbody><tr><td>
                <table class="row"><tbody><tr>
                    <th class="small-12 large-12 columns first last"><table><tr><th>
                        <center data-parsed>
                            <a href="&lt;%- host %&gt;" class="block float-center" align="center">
                                <img class="mintpad_logo block margin-auto" src="https://adhere.tripock.com/bucket/logo.png" alt="Adhere logo">
                            </a>
                        </center>
                    </th>
<th class="expander"></th></tr></table></th>
                </tr></tbody></table>
            </td></tr></tbody></table>
            
            <table align="center" class="container body-border float-center"><tbody><tr><td>
              <table class="row"><tbody><tr>
                <th class="small-12 large-12 columns first last"><table><tr><th>
                  <table class="spacer"><tbody><tr><td height="32px" style="font-size:32px;line-height:32px;">&#xA0;</td></tr></tbody></table> 
            
                  <center data-parsed>
                    <h4 class="text-center bold float-center" align="center">Hi &lt;%- title %&gt;</h4>
            
                    <table class="spacer float-center"><tbody><tr><td height="24px" style="font-size:24px;line-height:24px;">&#xA0;</td></tr></tbody></table> 
                    <h5 class="text-center float-center" align="center">&lt;%- mainBodyText %&gt;</h5>
                    <table class="spacer float-center"><tbody><tr><td height="16px" style="font-size:16px;line-height:16px;">&#xA0;</td></tr></tbody></table> 
                    <h5 class="text-center float-center" align="center">&lt;%- subBodyText %&gt;</h5>
                  </center>
             
            
                  <table class="spacer"><tbody><tr><td height="32px" style="font-size:32px;line-height:32px;">&#xA0;</td></tr></tbody></table> 
                  <center data-parsed>
                    <table class="button radius float-center"><tr><td><table><tr><td><a href="&lt;%- link %&gt;">
                      &lt;%- buttonText %&gt;
                    </a></td></tr></table></td></tr></table>
                  </center>
            
                  
                  <center data-parsed>
                      <h5 class="text-center subdued mb0 float-center" align="center">Have a nice day,</h5>
                      <h5 class="text-center bold float-center" align="center">Adhere team</h5>
                  
                      <table class="spacer float-center"><tbody><tr><td height="16px" style="font-size:16px;line-height:16px;">&#xA0;</td></tr></tbody></table> 
                      <h6 class="text-center subdued float-center" align="center">
                          For further assistance and information regarding this program, contact
                          &lt;%- contactTo %&gt;.
                      </h6>
                  </center>
                  <hr class="subdued">
                  <table class="spacer"><tbody><tr><td height="16px" style="font-size:16px;line-height:16px;">&#xA0;</td></tr></tbody></table> 
                  <h6 class="light-grey text-center">
                  
                  </h6>
                  
                  <center data-parsed>
                      <table align="center" class="menu float-center"><tr><td><table><tr>
                          <th class="menu-item bold float-center"><a href="#">Help Center</a></th>
                          <th class="menu-item bold float-center"><a href="#">Privacy Policy</a></th>
                      </tr></table></td></tr></table>
                  </center>
                </th>
<th class="expander"></th></tr></table></th>
              </tr></tbody></table>
            
              <table class="spacer"><tbody><tr><td height="16px" style="font-size:16px;line-height:16px;">&#xA0;</td></tr></tbody></table> 
            </td></tr></tbody></table>
            
          </center>
        </td>
      </tr>
    </table>

    <!-- prevent Gmail on iOS font size manipulation -->
    <div style="display:none; white-space:nowrap; font:15px courier; line-height:0;">
      &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
      &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
      &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
    </div>
  </body>
</html>
