<center>
    <h5 class="text-center subdued mb0">Have a nice day,</h5>
    <h5 class="text-center bold">AdhereLive Team</h5>

    <spacer size="16"></spacer>
    <h6 class="text-center subdued">
        For further assistance and information regarding this program, contact
        {{escp 'contactTo'}}.
    </h6>
</center>
<hr class="subdued"/>
<spacer size="16"></spacer>
<h6 class="light-grey text-center">

</h6>

<center>
    <menu>
        <item class="bold" href="#">Help Center</item>
        <item class="bold" href="#">Privacy Policy</item>
    </menu>
</center>