
.patientCard {
    width: 282px;
    height: 323px;
    left: 119px;
    top: 106px;
    background: rgba(0, 0, 0, 0.04);
    border-radius: 10px;
}

.patientDp {
    // display: flex;
    background-color: white;
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
}

.patientName {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
}