.black-65 {
  color: @black-65;
}

.bg_black-65 {
  background-color: @black-65;
}

.bg-red {
  background-color:red;
}

.bg-orange {
  background-color: orange;
}

.bg-black {
  background-color: black;
}

.bg-yellow {
  background-color: yellow;
} 
.grey-light {
  color: @grey-light;
}

.bg-light-aqua {
  background-color: @light-aqua;
}
.bg-dark-aqua {
  background-color: @dark-aqua;
}

.bg-light-purple {
  background-color: @light-purple;
}
.bg-dark-purple {
  background-color: @dark-purple;
}

.bg-light-orange {
  background-color: @light-orange;
}
.bg-dark-orange {
  background-color: @dark-orange;
}

.bg-light-blue {
  background-color: @light-blue;
}
.bg-dark-blue {
  background-color: @dark-blue;
}

.tab-color {
  color: @text-link;
}