.black-65 {
  color: @black-65;
}

.bg_black-65 {
  background-color: @black-65;
}

.black-85 {
  color: @black-85;
}

.text-white {
  color: @white;
}

.text-grey {
  color:#58666e;
}

.bg_black-85 {
  background-color: @black-85;
}

.bg-grey {
  background: @grey-tint;
}

.bg-dark-grey {
  background: @dark-grey;
}

.bg-red {
  background-color: red;
}

.red {
  color: @warning-color;
}

.bg-orange {
  background-color: orange;
}

.bg-black {
  background-color: black;
}

.bg-yellow {
  background-color: yellow;
}

.bg-green {
  background-color: @green;
}

.bg-deep-sea-blue {
  background-color: @deep-sea-blue;
}

.grey-light {
  color: @grey-light;
}
.slate-grey {
  color: #58666e;
}

.brown-grey {
  color: #a4a4a4;
}

.dark-sky-blue {
  color: #4a90e2;
}

.bg-light-aqua {
  background-color: @aqua-10;
}
.bg-dark-aqua {
  background-color: @dark-aqua;
}

.bg-light-purple {
  background-color: @purple-10;
}
.bg-dark-purple {
  background-color: @dark-purple;
}

.bg-light-orange {
  background-color: @orange-10;
}
.bg-dark-orange {
  background-color: @dark-orange;
}

.bg-light-blue {
  background-color: @blue-10;
}
.bg-dark-blue {
  background-color: @dark-blue;
}

.tab-color {
  color: @text-link;
}

.bg-dark-brown {
  background-color: #a0522d;
}

.bg-light-brown {
  background-color: #f5deb3;
}

.bg-spring-green {
  background-color: #00ff7f;
}

.bg-light-green {
  background-color: #90ee90;
}
