.black-65 {
  color: @black-65;
}

.bg_black-65 {
  background-color: @black-65;
}

.black-85 {
  color: @black-85;
}

.text-white {
  color: @white;
}

.text-grey {
  color: #58666e;
}

.warm-grey {
  color: @warm-grey;
}

.brown-grey {
  color: @brown-grey;
}

.bg-white {
  background-color: @white;
}

.bg_black-85 {
  background-color: @black-85;
}

.bg-grey {
  background: @grey-tint;
}

.bg-dark-grey {
  background: @dark-grey;
}

.bg-silver-grey {
  background-color: @silver-50;
}

.bg-lighter-grey {
  background: @lighter-grey;
}

.bg-faint-grey {
  background: @faint-grey;
}

.bg-light-blue-grey {
  background: @light-blue-grey;
}

.bg-red {
  background-color: red;
}

.red {
  color: @warning-color;
}

.warm-grey {
  color: @warm-grey;
}

.lighter-blue {
  color: @lighter-blue;
}

.bg-orange {
  background-color: orange;
}

.bg-black {
  background-color: black;
}

.bg-yellow {
  background-color: yellow;
}

.bg-green {
  background-color: @green;
}

.bg-deep-sea-blue {
  background-color: @deep-sea-blue;
}

.bg-darker-blue {
  background-color: @darker-blue;
}

.bg-medium-blue {
  background: @medium-blue;
}

.bg-lighter-blue {
  background: @lighter-blue;
}

.bg-ocean-green {
  background-color: #348d6c;
}

.grey-light {
  color: @grey-light;
}

.blueish-purple {
  color: @blueish-purple;
}

.slate-grey {
  color: #58666e;
}

.dark-sky-blue {
  color: #4a90e2;
}

.white {
  color: white;
}

.bg-light-aqua {
  background-color: @aqua-10;
}

.bg-dark-aqua {
  background-color: @dark-aqua;
}

.bg-light-purple {
  background-color: @purple-10;
}

.bg-dark-purple {
  background-color: @dark-purple;
}

.bg-light-orange {
  background-color: @orange-10;
}

.bg-dark-orange {
  background-color: @dark-orange;
}

.bg-light-blue {
  background-color: @blue-10;
}

.bg-dark-blue {
  background-color: @dark-blue;
}

.bg-blue {
  background-color: #1890ff;
}

.tab-color {
  color: @text-link;
}

.bg-dark-brown {
  background-color: #a0522d;
}

.bg-light-brown {
  background-color: #f5deb3;
}

.bg-spring-green {
  background-color: #00ff7f;
}

.bg-light-green {
  background-color: #90ee90;
}

.bg-rosy-pink {
  background-color: @rosy-pink-10;
}

.bg-light-grey {
  background-color: #e8e8e8;
}

// CHAT

.bg-current-meta {
  background-color: @current-meta;
}

.bg-current-message {
  background-color: @current-message !important;
}

.bg-other-meta {
  background-color: @other-meta;
}

.bg-light-grey {
  background-color: #e8e8e8;
}

// CHAT

.bg-current-meta {
  background-color: @current-meta;
}

.bg-current-message {
  background-color: @current-message !important;
}

.bg-other-meta {
  background-color: @other-meta;
}

.bg-other-message {
  background-color: @other-message !important;
}

.bg-chat-color {
  background-color: @chat-color;
}

.lighter-gray {
  color: @lighter-gray;
}

.light-brown-gray {
  color: @light-brown-gray;
}

.bg-lighter-sky-blue {
  background-color: @lighter-sky-blue;
}
