.wa {
  width: auto;
}

.ha {
  height: auto;
}

.tac {
  text-align: center;
}

.tal {
  text-align: left;
}

.tar {
  text-align: right;
}

.w40 {
  width:40%;
}

.w50 {
  width:50%;
}

.w60 {
  width:60%;
}

.wba {
  word-break: break-all;
}

.fl {
  float: left;
}

.fr {
  float: right;
}
// add more below


