.container {
  padding: 0;
  margin: 0;
}

.App {
  .ant-table-fixed {
    table-layout: fixed;
  }

  .ant-collapse {
    border: none;
    background: none;
    .ant-collapse-item {
      //.ant-collapse-header {
      //
      //},
      .ant-collapse-content {
        background: none;
      }
    }
  }

  .ant-table-tbody > tr > td {
    word-wrap: break-word;
    word-break: break-all;
  }

  .ant-table-column-title {
    .medium;
  }

  .add-button,
  .ant-btn-primary {
    height: 42px;
    //width: 92px;
    background-color: @primary-button-blue;
    border-radius: 3px;
    color: white;
    font-size: 16px;
    font-weight: 600;
  }

  .ant-btn-primary {
    height: 42px;
    background-color: @primary-button-blue;
    border-radius: 3px;
    color: white;
    font-size: 16px;
    font-weight: 500;
  }

  h1,
  h2,
  h3,
  h4,
  h5 {
    .medium;
  }
}
.doctor-profile-uploader{
  margin-right: 10px;
  margin-top: 6px;
  width: 102px;
}

// #medication_stage {
//   .ant-select-selection{
//     padding:@10px;
//     border:@1px solid #979797;
//     background:rgba(0, 0, 0, 0.02);
//   }
//   .ant-select-selection--single{
//     height:inherit;
//   }
//   .ant-select-arrow{
//     top:40%;
//   }
//   .ant-select-selection__placeholder{
//     color:#979797;
//     font-size:@16px;
//   }

// }
