{
  "swagger": "2.0",
  "info": {
    "version": "3.1.6",
    "title": "AdhereLive API Documentation",
    "description": "This is the API documentation for the React & Node server AdhereLive application"
  },
  "host": "adherelivelenia.centralindia.cloudapp.azure.com",
  "basePath": "/",
  "tags": [
    {
      "name": "Patients",
      "description": "Patient related endpoints"
    },
    {
      "name": "Auth",
      "description": "Authentication endpoints"
    },
    {
      "name": "Admin",
      "description": "Administration related endpoints"
    },
    {
      "name": "Common",
      "description": "Common for the application endpoints"
    },
    {
      "name": "Doctors",
      "description": "Patient related endpoints"
    },
    {
      "name": "Provider",
      "description": "Provider related endpoints"
    },
    {
      "name": "General",
      "description": "Operations related to General"
    },
    {
      "name": "Appointments",
      "description": "Operations related to Appointments"
    },
    {
      "name": "Auth-his",
      "description": "Operations related to Auth-his"
    },
    {
      "name": "Careplans",
      "description": "Operations related to Careplans"
    },
    {
      "name": "Charts",
      "description": "Operations related to Charts"
    },
    {
      "name": "Events",
      "description": "Operations related to Events"
    },
    {
      "name": "Medications",
      "description": "Operations related to Medications"
    },
    {
      "name": "Medicines",
      "description": "Operations related to Medicines"
    },
    {
      "name": "Twilio",
      "description": "Operations related to Twilio"
    },
    {
      "name": "Care-plan-templates",
      "description": "Operations related to Care-plan-templates"
    },
    {
      "name": "Colleges",
      "description": "Operations related to Colleges"
    },
    {
      "name": "Conditions",
      "description": "Operations related to Conditions"
    },
    {
      "name": "Councils",
      "description": "Operations related to Councils"
    },
    {
      "name": "Degrees",
      "description": "Operations related to Degrees"
    },
    {
      "name": "Severity",
      "description": "Operations related to Severity"
    },
    {
      "name": "Specialities",
      "description": "Operations related to Specialities"
    },
    {
      "name": "Treatments",
      "description": "Operations related to Treatments"
    },
    {
      "name": "Accounts",
      "description": "Operations related to Accounts"
    },
    {
      "name": "Adhoc",
      "description": "Operations related to Adhoc"
    },
    {
      "name": "Agora",
      "description": "Operations related to Agora"
    },
    {
      "name": "Cdss",
      "description": "Operations related to Cdss"
    },
    {
      "name": "Diet",
      "description": "Operations related to Diet"
    },
    {
      "name": "Exercises",
      "description": "Operations related to Exercises"
    },
    {
      "name": "Favourites",
      "description": "Operations related to Favourites"
    },
    {
      "name": "Features",
      "description": "Operations related to Features"
    },
    {
      "name": "Flashcard",
      "description": "Operations related to Flashcard"
    },
    {
      "name": "Food-items",
      "description": "Operations related to Food-items"
    },
    {
      "name": "His",
      "description": "Operations related to His"
    },
    {
      "name": "Meal",
      "description": "Operations related to Meal"
    },
    {
      "name": "Notes",
      "description": "Operations related to Notes"
    },
    {
      "name": "Notifications",
      "description": "Operations related to Notifications"
    },
    {
      "name": "Portions",
      "description": "Operations related to Portions"
    },
    {
      "name": "Prescription",
      "description": "Operations related to Prescription"
    },
    {
      "name": "Providers",
      "description": "Operations related to Providers"
    },
    {
      "name": "Reassignaudit",
      "description": "Operations related to Reassignaudit"
    },
    {
      "name": "Reports",
      "description": "Operations related to Reports"
    },
    {
      "name": "Serviceoffering",
      "description": "Operations related to Serviceoffering"
    },
    {
      "name": "Servicesubscription",
      "description": "Operations related to Servicesubscription"
    },
    {
      "name": "Servicesubscriptionusermapping",
      "description": "Operations related to Servicesubscriptionusermapping"
    },
    {
      "name": "Servicesubtx",
      "description": "Operations related to Servicesubtx"
    },
    {
      "name": "Serviceusermapping",
      "description": "Operations related to Serviceusermapping"
    },
    {
      "name": "Symptoms",
      "description": "Operations related to Symptoms"
    },
    {
      "name": "Transactions",
      "description": "Operations related to Transactions"
    },
    {
      "name": "Txactivities",
      "description": "Operations related to Txactivities"
    },
    {
      "name": "User-roles",
      "description": "Operations related to User-roles"
    },
    {
      "name": "Vitals",
      "description": "Operations related to Vitals"
    },
    {
      "name": "Workout",
      "description": "Operations related to Workout"
    },
    {
      "name": "Care-plans",
      "description": "Operations related to Care-plans"
    },
    {
      "name": "Sync",
      "description": "Operations related to Sync"
    }
  ],
  "schemes": [
    "https",
    "http"
  ],
  "securityDefinitions": {
    "bearerAuth": {
      "type": "apiKey",
      "name": "Authorization",
      "in": "header"
    }
  },
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/*": {
      "get": {
        "description": "GET operation for /*",
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "operationId": "get_*",
        "tags": [
          "General"
        ]
      }
    },
    "/api/admin/details/{type}": {
      "get": {
        "description": "GET operation for /api/admin/details/{type}",
        "parameters": [
          {
            "name": "type",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          },
          {
            "name": "m",
            "in": "query",
            "type": "string"
          }
        ],
        "responses": {
          "default": {
            "description": ""
          }
        },
        "operationId": "get_api_admin_details_{type}",
        "tags": [
          "Admin"
        ]
      }
    },
    "/api/admin/terms_and_conditions/{id}": {
      "get": {
        "description": "GET operation for /api/admin/terms_and_conditions/{id}",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          },
          {
            "name": "m",
            "in": "query",
            "type": "string"
          }
        ],
        "responses": {
          "default": {
            "description": ""
          }
        },
        "operationId": "get_api_admin_terms_and_conditions_{id}",
        "tags": [
          "Admin"
        ]
      }
    },
    "/api/admin/doctors": {
      "get": {
        "description": "GET operation for /api/admin/doctors",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          },
          {
            "name": "m",
            "in": "query",
            "type": "string"
          }
        ],
        "responses": {
          "default": {
            "description": ""
          }
        },
        "operationId": "get_api_admin_doctors",
        "tags": [
          "Admin"
        ]
      }
    },
    "/api/admin/doctors/{id}": {
      "get": {
        "description": "GET operation for /api/admin/doctors/{id}",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          },
          {
            "name": "m",
            "in": "query",
            "type": "string"
          }
        ],
        "responses": {
          "default": {
            "description": ""
          }
        },
        "operationId": "get_api_admin_doctors_{id}",
        "tags": [
          "Admin"
        ]
      },
      "post": {
        "description": "POST operation for /api/admin/doctors/{id}",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          },
          {
            "name": "m",
            "in": "query",
            "type": "string"
          }
        ],
        "responses": {
          "default": {
            "description": ""
          }
        },
        "operationId": "post_api_admin_doctors_{id}",
        "tags": [
          "Admin"
        ]
      }
    },
    "/api/admin/providers": {
      "get": {
        "description": "GET operation for /api/admin/providers",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          },
          {
            "name": "m",
            "in": "query",
            "type": "string"
          }
        ],
        "responses": {
          "default": {
            "description": ""
          }
        },
        "operationId": "get_api_admin_providers",
        "tags": [
          "Admin"
        ]
      },
      "post": {
        "description": "POST operation for /api/admin/providers",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          },
          {
            "name": "m",
            "in": "query",
            "type": "string"
          }
        ],
        "responses": {
          "default": {
            "description": ""
          }
        },
        "operationId": "post_api_admin_providers",
        "tags": [
          "Admin"
        ]
      }
    },
    "/api/admin/doctors/{id}/account": {
      "get": {
        "description": "GET operation for /api/admin/doctors/{id}/account",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          },
          {
            "name": "m",
            "in": "query",
            "type": "string"
          }
        ],
        "responses": {
          "default": {
            "description": ""
          }
        },
        "operationId": "get_api_admin_doctors_{id}_account",
        "tags": [
          "Admin"
        ]
      },
      "post": {
        "description": "POST operation for /api/admin/doctors/{id}/account",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          },
          {
            "name": "m",
            "in": "query",
            "type": "string"
          }
        ],
        "responses": {
          "default": {
            "description": ""
          }
        },
        "operationId": "post_api_admin_doctors_{id}_account",
        "tags": [
          "Admin"
        ]
      }
    },
    "/api/admin/medicines": {
      "get": {
        "description": "GET operation for /api/admin/medicines",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          },
          {
            "name": "m",
            "in": "query",
            "type": "string"
          },
          {
            "name": "value",
            "in": "query",
            "type": "string"
          },
          {
            "name": "offset",
            "in": "query",
            "type": "string"
          },
          {
            "name": "public_medicine",
            "in": "query",
            "type": "string"
          }
        ],
        "responses": {
          "default": {
            "description": ""
          }
        },
        "operationId": "get_api_admin_medicines",
        "tags": [
          "Admin"
        ]
      },
      "post": {
        "description": "POST operation for /api/admin/medicines",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          },
          {
            "name": "m",
            "in": "query",
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "name": {
                  "example": "any"
                },
                "type": {
                  "example": "any"
                },
                "generic_name": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {
          "default": {
            "description": ""
          }
        },
        "operationId": "post_api_admin_medicines",
        "tags": [
          "Admin"
        ]
      }
    },
    "/api/admin/chats": {
      "get": {
        "description": "GET operation for /api/admin/chats",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          },
          {
            "name": "m",
            "in": "query",
            "type": "string"
          }
        ],
        "responses": {
          "default": {
            "description": ""
          }
        },
        "operationId": "get_api_admin_chats",
        "tags": [
          "Admin"
        ]
      }
    },
    "/api/admin/providers/graphs": {
      "post": {
        "description": "POST operation for /api/admin/providers/graphs",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          },
          {
            "name": "m",
            "in": "query",
            "type": "string"
          }
        ],
        "responses": {
          "default": {
            "description": ""
          }
        },
        "operationId": "post_api_admin_providers_graphs",
        "tags": [
          "Admin"
        ]
      }
    },
    "/api/admin/providers/{id}": {
      "post": {
        "description": "POST operation for /api/admin/providers/{id}",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          },
          {
            "name": "m",
            "in": "query",
            "type": "string"
          }
        ],
        "responses": {
          "default": {
            "description": ""
          }
        },
        "operationId": "post_api_admin_providers_{id}",
        "tags": [
          "Admin"
        ]
      }
    },
    "/api/admin/details": {
      "post": {
        "description": "POST operation for /api/admin/details",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          },
          {
            "name": "m",
            "in": "query",
            "type": "string"
          }
        ],
        "responses": {
          "default": {
            "description": ""
          }
        },
        "operationId": "post_api_admin_details",
        "tags": [
          "Admin"
        ]
      }
    },
    "/api/admin/algolia/medicine": {
      "post": {
        "description": "POST operation for /api/admin/algolia/medicine",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          },
          {
            "name": "m",
            "in": "query",
            "type": "string"
          }
        ],
        "responses": {
          "default": {
            "description": ""
          }
        },
        "operationId": "post_api_admin_algolia_medicine",
        "tags": [
          "Admin"
        ]
      }
    },
    "/api/admin/medicines/{id}/public": {
      "post": {
        "description": "POST operation for /api/admin/medicines/{id}/public",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          },
          {
            "name": "m",
            "in": "query",
            "type": "string"
          }
        ],
        "responses": {
          "default": {
            "description": ""
          }
        },
        "operationId": "post_api_admin_medicines_{id}_public",
        "tags": [
          "Admin"
        ]
      }
    },
    "/api/admin/enable-all-features": {
      "post": {
        "description": "POST operation for /api/admin/enable-all-features",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          },
          {
            "name": "m",
            "in": "query",
            "type": "string"
          }
        ],
        "responses": {
          "default": {
            "description": ""
          }
        },
        "operationId": "post_api_admin_enable-all-features",
        "tags": [
          "Admin"
        ]
      }
    },
    "/api/admin/medicines/{id}": {
      "delete": {
        "description": "DELETE operation for /api/admin/medicines/{id}",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          },
          {
            "name": "m",
            "in": "query",
            "type": "string"
          }
        ],
        "responses": {
          "default": {
            "description": ""
          }
        },
        "operationId": "delete_api_admin_medicines_{id}",
        "tags": [
          "Admin"
        ]
      }
    },
    "/api/admin/chats/delete": {
      "delete": {
        "description": "DELETE operation for /api/admin/chats/delete",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          },
          {
            "name": "m",
            "in": "query",
            "type": "string"
          }
        ],
        "responses": {
          "default": {
            "description": ""
          }
        },
        "operationId": "delete_api_admin_chats_delete",
        "tags": [
          "Admin"
        ]
      }
    },
    "/api/admin/update/provider-terms": {
      "post": {
        "description": "POST operation for /api/admin/update/provider-terms",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          },
          {
            "name": "m",
            "in": "query",
            "type": "string"
          }
        ],
        "responses": {
          "default": {
            "description": ""
          }
        },
        "operationId": "post_api_admin_update_provider-terms",
        "tags": [
          "Admin"
        ]
      }
    },
    "/api/appointments/details": {
      "get": {
        "description": "GET operation for /api/appointments/details",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          },
          {
            "name": "m",
            "in": "query",
            "type": "string"
          }
        ],
        "responses": {
          "default": {
            "description": ""
          }
        },
        "operationId": "get_api_appointments_details",
        "tags": [
          "Appointments"
        ]
      }
    },
    "/api/appointments/download-doc": {
      "post": {
        "description": "POST operation for /api/appointments/download-doc",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          },
          {
            "name": "m",
            "in": "query",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "operationId": "post_api_appointments_download-doc",
        "tags": [
          "Appointments"
        ]
      }
    },
    "/api/appointments/{appointment_id}/upload-doc": {
      "post": {
        "description": "POST operation for /api/appointments/{appointment_id}/upload-doc",
        "parameters": [
          {
            "name": "appointment_id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          },
          {
            "name": "m",
            "in": "query",
            "type": "string"
          }
        ],
        "responses": {
          "default": {
            "description": ""
          }
        },
        "operationId": "post_api_appointments_{appointment_id}_upload-doc",
        "tags": [
          "Appointments"
        ]
      }
    },
    "/api/appointments/{document_id}/delete-doc": {
      "delete": {
        "description": "DELETE operation for /api/appointments/{document_id}/delete-doc",
        "parameters": [
          {
            "name": "document_id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          },
          {
            "name": "m",
            "in": "query",
            "type": "string"
          }
        ],
        "responses": {
          "default": {
            "description": ""
          }
        },
        "operationId": "delete_api_appointments_{document_id}_delete-doc",
        "tags": [
          "Appointments"
        ]
      }
    },
    "/api/appointments/missed": {
      "get": {
        "description": "GET operation for /api/appointments/missed",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          },
          {
            "name": "m",
            "in": "query",
            "type": "string"
          }
        ],
        "responses": {
          "default": {
            "description": ""
          }
        },
        "operationId": "get_api_appointments_missed",
        "tags": [
          "Appointments"
        ]
      }
    },
    "/api/appointments/date": {
      "get": {
        "description": "GET operation for /api/appointments/date",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          },
          {
            "name": "m",
            "in": "query",
            "type": "string"
          }
        ],
        "responses": {
          "default": {
            "description": ""
          }
        },
        "operationId": "get_api_appointments_date",
        "tags": [
          "Appointments"
        ]
      }
    },
    "/api/appointments/{id}": {
      "get": {
        "description": "GET operation for /api/appointments/{id}",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          },
          {
            "name": "m",
            "in": "query",
            "type": "string"
          }
        ],
        "responses": {
          "default": {
            "description": ""
          }
        },
        "operationId": "get_api_appointments_{id}",
        "tags": [
          "Appointments"
        ]
      }
    },
    "/api/appointments/": {
      "post": {
        "description": "POST operation for /api/appointments/",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          },
          {
            "name": "m",
            "in": "query",
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "start_time": {
                  "example": "any"
                },
                "end_time": {
                  "example": "any"
                },
                "treatment_id": {
                  "example": "any"
                },
                "reason": {
                  "example": "any"
                },
                "type": {
                  "example": "any"
                },
                "type_description": {
                  "example": "any"
                },
                "radiology_type": {
                  "example": "any"
                },
                "provider_id": {
                  "example": "any"
                },
                "provider_name": {
                  "example": "any"
                },
                "critical": {
                  "example": "any"
                },
                "participant_one": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {
          "422": {
            "description": "Unprocessable Entity"
          }
        },
        "operationId": "post_api_appointments",
        "tags": [
          "Appointments"
        ]
      }
    },
    "/api/appointments/{carePlanId}/appointments": {
      "post": {
        "description": "POST operation for /api/appointments/{carePlanId}/appointments",
        "parameters": [
          {
            "name": "carePlanId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          },
          {
            "name": "m",
            "in": "query",
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "start_time": {
                  "example": "any"
                },
                "end_time": {
                  "example": "any"
                },
                "treatment_id": {
                  "example": "any"
                },
                "reason": {
                  "example": "any"
                },
                "type": {
                  "example": "any"
                },
                "type_description": {
                  "example": "any"
                },
                "provider_id": {
                  "example": "any"
                },
                "provider_name": {
                  "example": "any"
                },
                "critical": {
                  "example": "any"
                },
                "radiology_type": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {
          "422": {
            "description": "Unprocessable Entity"
          }
        },
        "operationId": "post_api_appointments_{carePlanId}_appointments",
        "tags": [
          "Appointments"
        ]
      }
    },
    "/api/appointments/update/{appointment_id}": {
      "post": {
        "description": "POST operation for /api/appointments/update/{appointment_id}",
        "parameters": [
          {
            "name": "appointment_id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          },
          {
            "name": "m",
            "in": "query",
            "type": "string"
          }
        ],
        "responses": {
          "422": {
            "description": "Unprocessable Entity"
          }
        },
        "operationId": "post_api_appointments_update_{appointment_id}",
        "tags": [
          "Appointments"
        ]
      }
    },
    "/api/appointments/{appointment_id}/delete": {
      "delete": {
        "description": "DELETE operation for /api/appointments/{appointment_id}/delete",
        "parameters": [
          {
            "name": "appointment_id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          },
          {
            "name": "m",
            "in": "query",
            "type": "string"
          }
        ],
        "responses": {
          "default": {
            "description": ""
          }
        },
        "operationId": "delete_api_appointments_{appointment_id}_delete",
        "tags": [
          "Appointments"
        ]
      }
    },
    "/api/auth/register/{link}": {
      "get": {
        "description": "GET operation for /api/auth/register/{link}",
        "parameters": [
          {
            "name": "link",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          },
          {
            "name": "m",
            "in": "query",
            "type": "string"
          }
        ],
        "responses": {
          "default": {
            "description": ""
          }
        },
        "operationId": "get_api_auth_register_{link}",
        "tags": [
          "Auth"
        ]
      }
    },
    "/api/auth/sign-in": {
      "post": {
        "description": "POST operation for /api/auth/sign-in",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          },
          {
            "name": "m",
            "in": "query",
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "email": {
                  "example": "any"
                },
                "password": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {
          "default": {
            "description": ""
          }
        },
        "operationId": "post_api_auth_sign-in",
        "tags": [
          "Auth"
        ]
      }
    },
    "/api/auth/consent": {
      "post": {
        "description": "POST operation for /api/auth/consent",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          },
          {
            "name": "m",
            "in": "query",
            "type": "string"
          }
        ],
        "responses": {
          "default": {
            "description": ""
          }
        },
        "operationId": "post_api_auth_consent",
        "tags": [
          "Auth"
        ]
      }
    },
    "/api/auth/sign-up": {
      "post": {
        "description": "POST operation for /api/auth/sign-up",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          },
          {
            "name": "m",
            "in": "query",
            "type": "string"
          }
        ],
        "responses": {
          "422": {
            "description": "Unprocessable Entity"
          }
        },
        "operationId": "post_api_auth_sign-up",
        "tags": [
          "Auth"
        ]
      }
    },
    "/api/auth/get-basic-info": {
      "get": {
        "description": "GET operation for /api/auth/get-basic-info",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          },
          {
            "name": "m",
            "in": "query",
            "type": "string"
          }
        ],
        "responses": {
          "default": {
            "description": ""
          }
        },
        "operationId": "get_api_auth_get-basic-info",
        "tags": [
          "Auth"
        ]
      }
    },
    "/api/auth/upload": {
      "post": {
        "description": "POST operation for /api/auth/upload",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          },
          {
            "name": "m",
            "in": "query",
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "type": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {
          "default": {
            "description": ""
          }
        },
        "operationId": "post_api_auth_upload",
        "tags": [
          "Auth"
        ]
      }
    },
    "/api/auth/sign-out": {
      "post": {
        "description": "POST operation for /api/auth/sign-out",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          },
          {
            "name": "m",
            "in": "query",
            "type": "string"
          }
        ],
        "responses": {
          "default": {
            "description": ""
          }
        },
        "operationId": "post_api_auth_sign-out",
        "tags": [
          "Auth"
        ]
      }
    },
    "/api/auth/forgot-password": {
      "post": {
        "description": "POST operation for /api/auth/forgot-password",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          },
          {
            "name": "m",
            "in": "query",
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "email": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {
          "default": {
            "description": ""
          }
        },
        "operationId": "post_api_auth_forgot-password",
        "tags": [
          "Auth"
        ]
      }
    },
    "/api/auth/verify/{link}": {
      "post": {
        "description": "POST operation for /api/auth/verify/{link}",
        "parameters": [
          {
            "name": "link",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          },
          {
            "name": "m",
            "in": "query",
            "type": "string"
          }
        ],
        "responses": {
          "default": {
            "description": ""
          }
        },
        "operationId": "post_api_auth_verify_{link}",
        "tags": [
          "Auth"
        ]
      }
    },
    "/api/auth/password-reset": {
      "post": {
        "description": "POST operation for /api/auth/password-reset",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          },
          {
            "name": "m",
            "in": "query",
            "type": "string"
          }
        ],
        "responses": {
          "default": {
            "description": ""
          }
        },
        "operationId": "post_api_auth_password-reset",
        "tags": [
          "Auth"
        ]
      }
    },
    "/api/auth-his/sign-in": {
      "post": {
        "description": "POST operation for /api/auth-his/sign-in",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          },
          {
            "name": "m",
            "in": "query",
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "his_username": {
                  "example": "any"
                },
                "his_password": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {
          "default": {
            "description": ""
          }
        },
        "operationId": "post_api_auth-his_sign-in",
        "tags": [
          "Auth-his"
        ]
      }
    },
    "/api/carePlans/profile": {
      "post": {
        "description": "POST operation for /api/carePlans/profile",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          },
          {
            "name": "m",
            "in": "query",
            "type": "string"
          }
        ],
        "responses": {
          "401": {
            "description": "Unauthorized"
          }
        },
        "operationId": "post_api_carePlans_profile",
        "tags": [
          "Careplans"
        ]
      }
    },
    "/api/carePlans/{carePlanId}": {
      "post": {
        "description": "POST operation for /api/carePlans/{carePlanId}",
        "parameters": [
          {
            "name": "carePlanId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          },
          {
            "name": "m",
            "in": "query",
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "medicationsData": {
                  "example": "any"
                },
                "appointmentsData": {
                  "example": "any"
                },
                "vitalData": {
                  "example": "any"
                },
                "dietData": {
                  "example": "any"
                },
                "workoutData": {
                  "example": "any"
                },
                "treatment_id": {
                  "example": "any"
                },
                "condition_id": {
                  "example": "any"
                },
                "severity_id": {
                  "example": "any"
                },
                "name": {
                  "example": "any"
                },
                "createTemplate": {
                  "example": "any"
                },
                "clinical_notes": {
                  "example": "any"
                },
                "follow_up_advise": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {
          "401": {
            "description": "Unauthorized"
          }
        },
        "operationId": "post_api_carePlans_{carePlanId}",
        "tags": [
          "Careplans"
        ]
      },
      "get": {
        "description": "GET operation for /api/carePlans/{carePlanId}",
        "parameters": [
          {
            "name": "carePlanId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          },
          {
            "name": "m",
            "in": "query",
            "type": "string"
          }
        ],
        "responses": {
          "401": {
            "description": "Unauthorized"
          }
        },
        "operationId": "get_api_carePlans_{carePlanId}",
        "tags": [
          "Careplans"
        ]
      }
    },
    "/api/carePlans/patient-care-plan-name": {
      "get": {
        "description": "GET operation for /api/carePlans/patient-care-plan-name",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          },
          {
            "name": "m",
            "in": "query",
            "type": "string"
          },
          {
            "name": "patient_id",
            "in": "query",
            "type": "string"
          },
          {
            "name": "doctor_user_id",
            "in": "query",
            "type": "string"
          },
          {
            "name": "provider_id",
            "in": "query",
            "type": "string"
          },
          {
            "name": "provider_type",
            "in": "query",
            "type": "string"
          }
        ],
        "responses": {
          "default": {
            "description": ""
          }
        },
        "operationId": "get_api_carePlans_patient-care-plan-name",
        "tags": [
          "Careplans"
        ]
      }
    },
    "/api/carePlans/patient-care-plan-details/{patientId}": {
      "get": {
        "description": "GET operation for /api/carePlans/patient-care-plan-details/{patientId}",
        "parameters": [
          {
            "name": "patientId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          },
          {
            "name": "m",
            "in": "query",
            "type": "string"
          }
        ],
        "responses": {
          "default": {
            "description": ""
          }
        },
        "operationId": "get_api_carePlans_patient-care-plan-details_{patientId}",
        "tags": [
          "Careplans"
        ]
      }
    },
    "/api/carePlans/patient-care-plan-details-sec/{patient_id}": {
      "get": {
        "description": "GET operation for /api/carePlans/patient-care-plan-details-sec/{patient_id}",
        "parameters": [
          {
            "name": "patient_id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          },
          {
            "name": "m",
            "in": "query",
            "type": "string"
          }
        ],
        "responses": {
          "default": {
            "description": ""
          }
        },
        "operationId": "get_api_carePlans_patient-care-plan-details-sec_{patient_id}",
        "tags": [
          "Careplans"
        ]
      }
    },
    "/api/charts/": {
      "get": {
        "description": "GET operation for /api/charts/",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          },
          {
            "name": "m",
            "in": "query",
            "type": "string"
          }
        ],
        "responses": {
          "default": {
            "description": ""
          }
        },
        "operationId": "get_api_charts",
        "tags": [
          "Charts"
        ]
      },
      "post": {
        "description": "POST operation for /api/charts/",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          },
          {
            "name": "m",
            "in": "query",
            "type": "string"
          }
        ],
        "responses": {
          "default": {
            "description": ""
          }
        },
        "operationId": "post_api_charts",
        "tags": [
          "Charts"
        ]
      }
    },
    "/api/doctors/": {
      "post": {
        "description": "POST operation for /api/doctors/",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          },
          {
            "name": "m",
            "in": "query",
            "type": "string"
          }
        ],
        "responses": {
          "default": {
            "description": ""
          }
        },
        "operationId": "post_api_doctors",
        "tags": [
          "Doctors"
        ]
      }
    },
    "/api/doctors/search-mail": {
      "get": {
        "description": "GET operation for /api/doctors/search-mail",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          },
          {
            "name": "m",
            "in": "query",
            "type": "string"
          }
        ],
        "responses": {
          "default": {
            "description": ""
          }
        },
        "operationId": "get_api_doctors_search-mail",
        "tags": [
          "Doctors"
        ]
      }
    },
    "/api/doctors/search-name": {
      "get": {
        "description": "GET operation for /api/doctors/search-name",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          },
          {
            "name": "m",
            "in": "query",
            "type": "string"
          }
        ],
        "responses": {
          "default": {
            "description": ""
          }
        },
        "operationId": "get_api_doctors_search-name",
        "tags": [
          "Doctors"
        ]
      }
    },
    "/api/doctors/day-appointments": {
      "get": {
        "description": "GET operation for /api/doctors/day-appointments",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          },
          {
            "name": "m",
            "in": "query",
            "type": "string"
          }
        ],
        "responses": {
          "default": {
            "description": ""
          }
        },
        "operationId": "get_api_doctors_day-appointments",
        "tags": [
          "Doctors"
        ]
      }
    },
    "/api/doctors/upload": {
      "post": {
        "description": "POST operation for /api/doctors/upload",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          },
          {
            "name": "m",
            "in": "query",
            "type": "string"
          }
        ],
        "responses": {
          "default": {
            "description": ""
          }
        },
        "operationId": "post_api_doctors_upload",
        "tags": [
          "Doctors"
        ]
      }
    },
    "/api/doctors/details": {
      "post": {
        "description": "POST operation for /api/doctors/details",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          },
          {
            "name": "m",
            "in": "query",
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "speciality_id": {
                  "example": "any"
                },
                "gender": {
                  "example": "any"
                },
                "qualification_details": {
                  "example": "any"
                },
                "registration_details": {
                  "example": "any"
                },
                "doctor_id": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {
          "default": {
            "description": ""
          }
        },
        "operationId": "post_api_doctors_details",
        "tags": [
          "Doctors"
        ]
      }
    },
    "/api/doctors/qualifications": {
      "post": {
        "description": "POST operation for /api/doctors/qualifications",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          },
          {
            "name": "m",
            "in": "query",
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "doctor_id": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {
          "default": {
            "description": ""
          }
        },
        "operationId": "post_api_doctors_qualifications",
        "tags": [
          "Doctors"
        ]
      }
    },
    "/api/doctors/qualifications/docs": {
      "post": {
        "description": "POST operation for /api/doctors/qualifications/docs",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          },
          {
            "name": "m",
            "in": "query",
            "type": "string"
          }
        ],
        "responses": {
          "default": {
            "description": ""
          }
        },
        "operationId": "post_api_doctors_qualifications_docs",
        "tags": [
          "Doctors"
        ]
      }
    },
    "/api/doctors/medicineModification": {
      "post": {
        "description": "POST operation for /api/doctors/medicineModification",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          },
          {
            "name": "m",
            "in": "query",
            "type": "string"
          }
        ],
        "responses": {
          "default": {
            "description": ""
          }
        },
        "operationId": "post_api_doctors_medicineModification",
        "tags": [
          "Doctors"
        ]
      }
    },
    "/api/doctors/registrations": {
      "post": {
        "description": "POST operation for /api/doctors/registrations",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          },
          {
            "name": "m",
            "in": "query",
            "type": "string"
          }
        ],
        "responses": {
          "default": {
            "description": ""
          }
        },
        "operationId": "post_api_doctors_registrations",
        "tags": [
          "Doctors"
        ]
      }
    },
    "/api/doctors/registrations/docs": {
      "post": {
        "description": "POST operation for /api/doctors/registrations/docs",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          },
          {
            "name": "m",
            "in": "query",
            "type": "string"
          }
        ],
        "responses": {
          "default": {
            "description": ""
          }
        },
        "operationId": "post_api_doctors_registrations_docs",
        "tags": [
          "Doctors"
        ]
      }
    },
    "/api/doctors/clinics": {
      "post": {
        "description": "POST operation for /api/doctors/clinics",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          },
          {
            "name": "m",
            "in": "query",
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "clinics": {
                  "example": "any"
                },
                "doctor_id": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {
          "default": {
            "description": ""
          }
        },
        "operationId": "post_api_doctors_clinics",
        "tags": [
          "Doctors"
        ]
      }
    },
    "/api/doctors/qualification-documents/{id}": {
      "delete": {
        "description": "DELETE operation for /api/doctors/qualification-documents/{id}",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          },
          {
            "name": "m",
            "in": "query",
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "document": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {
          "default": {
            "description": ""
          }
        },
        "operationId": "delete_api_doctors_qualification-documents_{id}",
        "tags": [
          "Doctors"
        ]
      }
    },
    "/api/doctors/registration-documents/{id}": {
      "delete": {
        "description": "DELETE operation for /api/doctors/registration-documents/{id}",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          },
          {
            "name": "m",
            "in": "query",
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "document": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {
          "default": {
            "description": ""
          }
        },
        "operationId": "delete_api_doctors_registration-documents_{id}",
        "tags": [
          "Doctors"
        ]
      }
    },
    "/api/doctors/patients": {
      "post": {
        "description": "POST operation for /api/doctors/patients",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          },
          {
            "name": "m",
            "in": "query",
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "mobile_number": {
                  "example": "any"
                },
                "name": {
                  "example": "any"
                },
                "patient_uid": {
                  "example": "any"
                },
                "gender": {
                  "example": "any"
                },
                "date_of_birth": {
                  "example": "any"
                },
                "prefix": {
                  "example": "any"
                },
                "comorbidities": {
                  "example": "any"
                },
                "allergies": {
                  "example": "any"
                },
                "clinical_notes": {
                  "example": "any"
                },
                "diagnosis_type": {
                  "example": "any"
                },
                "diagnosis_description": {
                  "example": "any"
                },
                "treatment_id": {
                  "example": "any"
                },
                "severity_id": {
                  "example": "any"
                },
                "condition_id": {
                  "example": "any"
                },
                "height": {
                  "example": "any"
                },
                "weight": {
                  "example": "any"
                },
                "symptoms": {
                  "example": "any"
                },
                "address": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {
          "422": {
            "description": "Unprocessable Entity"
          }
        },
        "operationId": "post_api_doctors_patients",
        "tags": [
          "Doctors"
        ]
      },
      "get": {
        "description": "GET operation for /api/doctors/patients",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          },
          {
            "name": "m",
            "in": "query",
            "type": "string"
          }
        ],
        "responses": {
          "default": {
            "description": ""
          }
        },
        "operationId": "get_api_doctors_patients",
        "tags": [
          "Doctors"
        ]
      }
    },
    "/api/doctors/watchlist/{patient_id}": {
      "post": {
        "description": "POST operation for /api/doctors/watchlist/{patient_id}",
        "parameters": [
          {
            "name": "patient_id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          },
          {
            "name": "m",
            "in": "query",
            "type": "string"
          }
        ],
        "responses": {
          "default": {
            "description": ""
          }
        },
        "operationId": "post_api_doctors_watchlist_{patient_id}",
        "tags": [
          "Doctors"
        ]
      },
      "delete": {
        "description": "DELETE operation for /api/doctors/watchlist/{patient_id}",
        "parameters": [
          {
            "name": "patient_id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          },
          {
            "name": "m",
            "in": "query",
            "type": "string"
          }
        ],
        "responses": {
          "default": {
            "description": ""
          }
        },
        "operationId": "delete_api_doctors_watchlist_{patient_id}",
        "tags": [
          "Doctors"
        ]
      }
    },
    "/api/doctors/consultations": {
      "post": {
        "description": "POST operation for /api/doctors/consultations",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          },
          {
            "name": "m",
            "in": "query",
            "type": "string"
          }
        ],
        "responses": {
          "default": {
            "description": ""
          }
        },
        "operationId": "post_api_doctors_consultations",
        "tags": [
          "Doctors"
        ]
      },
      "delete": {
        "description": "DELETE operation for /api/doctors/consultations",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          },
          {
            "name": "m",
            "in": "query",
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {
          "default": {
            "description": ""
          }
        },
        "operationId": "delete_api_doctors_consultations",
        "tags": [
          "Doctors"
        ]
      },
      "get": {
        "description": "GET operation for /api/doctors/consultations",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          },
          {
            "name": "m",
            "in": "query",
            "type": "string"
          }
        ],
        "responses": {
          "default": {
            "description": ""
          }
        },
        "operationId": "get_api_doctors_consultations",
        "tags": [
          "Doctors"
        ]
      }
    },
    "/api/doctors/updatePatient_careplan/{careplan_id}": {
      "post": {
        "description": "POST operation for /api/doctors/updatePatient_careplan/{careplan_id}",
        "parameters": [
          {
            "name": "careplan_id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          },
          {
            "name": "m",
            "in": "query",
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "name": {
                  "example": "any"
                },
                "patient_uid": {
                  "example": "any"
                },
                "gender": {
                  "example": "any"
                },
                "date_of_birth": {
                  "example": "any"
                },
                "comorbidities": {
                  "example": "any"
                },
                "allergies": {
                  "example": "any"
                },
                "clinical_notes": {
                  "example": "any"
                },
                "follow_up_advise": {
                  "example": "any"
                },
                "diagnosis_type": {
                  "example": "any"
                },
                "diagnosis_description": {
                  "example": "any"
                },
                "treatment_id": {
                  "example": "any"
                },
                "severity_id": {
                  "example": "any"
                },
                "condition_id": {
                  "example": "any"
                },
                "height": {
                  "example": "any"
                },
                "weight": {
                  "example": "any"
                },
                "symptoms": {
                  "example": "any"
                },
                "address": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {
          "422": {
            "description": "Unprocessable Entity"
          }
        },
        "operationId": "post_api_doctors_updatePatient_careplan_{careplan_id}",
        "tags": [
          "Doctors"
        ]
      }
    },
    "/api/doctors/{id}/update": {
      "post": {
        "description": "POST operation for /api/doctors/{id}/update",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          },
          {
            "name": "m",
            "in": "query",
            "type": "string"
          }
        ],
        "responses": {
          "default": {
            "description": ""
          }
        },
        "operationId": "post_api_doctors_{id}_update",
        "tags": [
          "Doctors"
        ]
      }
    },
    "/api/doctors/consultations/default": {
      "get": {
        "description": "GET operation for /api/doctors/consultations/default",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          },
          {
            "name": "m",
            "in": "query",
            "type": "string"
          }
        ],
        "responses": {
          "default": {
            "description": ""
          }
        },
        "operationId": "get_api_doctors_consultations_default",
        "tags": [
          "Doctors"
        ]
      }
    },
    "/api/doctors/treatment/templates": {
      "get": {
        "description": "GET operation for /api/doctors/treatment/templates",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          },
          {
            "name": "m",
            "in": "query",
            "type": "string"
          },
          {
            "name": "keyword",
            "in": "query",
            "type": "string"
          }
        ],
        "responses": {
          "default": {
            "description": ""
          }
        },
        "operationId": "get_api_doctors_treatment_templates",
        "tags": [
          "Doctors"
        ]
      }
    },
    "/api/doctors/{doctor_id}": {
      "get": {
        "description": "GET operation for /api/doctors/{doctor_id}",
        "parameters": [
          {
            "name": "doctor_id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          },
          {
            "name": "m",
            "in": "query",
            "type": "string"
          }
        ],
        "responses": {
          "default": {
            "description": ""
          }
        },
        "operationId": "get_api_doctors_{doctor_id}",
        "tags": [
          "Doctors"
        ]
      }
    },
    "/api/doctors/{doctor_id}/deactivate": {
      "delete": {
        "description": "DELETE operation for /api/doctors/{doctor_id}/deactivate",
        "parameters": [
          {
            "name": "doctor_id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          },
          {
            "name": "m",
            "in": "query",
            "type": "string"
          }
        ],
        "responses": {
          "default": {
            "description": ""
          }
        },
        "operationId": "delete_api_doctors_{doctor_id}_deactivate",
        "tags": [
          "Doctors"
        ]
      }
    },
    "/api/doctors/activate/{user_id}": {
      "post": {
        "description": "POST operation for /api/doctors/activate/{user_id}",
        "parameters": [
          {
            "name": "user_id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          },
          {
            "name": "m",
            "in": "query",
            "type": "string"
          }
        ],
        "responses": {
          "default": {
            "description": ""
          }
        },
        "operationId": "post_api_doctors_activate_{user_id}",
        "tags": [
          "Doctors"
        ]
      }
    },
    "/api/events/missed": {
      "get": {
        "description": "GET operation for /api/events/missed",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          },
          {
            "name": "m",
            "in": "query",
            "type": "string"
          }
        ],
        "responses": {
          "default": {
            "description": ""
          }
        },
        "operationId": "get_api_events_missed",
        "tags": [
          "Events"
        ]
      }
    },
    "/api/events/details": {
      "get": {
        "description": "GET operation for /api/events/details",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          },
          {
            "name": "m",
            "in": "query",
            "type": "string"
          }
        ],
        "responses": {
          "default": {
            "description": ""
          }
        },
        "operationId": "get_api_events_details",
        "tags": [
          "Events"
        ]
      }
    },
    "/api/events/count": {
      "get": {
        "description": "GET operation for /api/events/count",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          },
          {
            "name": "m",
            "in": "query",
            "type": "string"
          }
        ],
        "responses": {
          "default": {
            "description": ""
          }
        },
        "operationId": "get_api_events_count",
        "tags": [
          "Events"
        ]
      }
    },
    "/api/events/missed/{patient_id}": {
      "get": {
        "description": "GET operation for /api/events/missed/{patient_id}",
        "parameters": [
          {
            "name": "patient_id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          },
          {
            "name": "m",
            "in": "query",
            "type": "string"
          }
        ],
        "responses": {
          "default": {
            "description": ""
          }
        },
        "operationId": "get_api_events_missed_{patient_id}",
        "tags": [
          "Events"
        ]
      }
    },
    "/api/events/{patient_id}": {
      "get": {
        "description": "GET operation for /api/events/{patient_id}",
        "parameters": [
          {
            "name": "patient_id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          },
          {
            "name": "m",
            "in": "query",
            "type": "string"
          }
        ],
        "responses": {
          "default": {
            "description": ""
          }
        },
        "operationId": "get_api_events_{patient_id}",
        "tags": [
          "Events"
        ]
      }
    },
    "/api/events/{id}/complete": {
      "post": {
        "description": "POST operation for /api/events/{id}/complete",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          },
          {
            "name": "m",
            "in": "query",
            "type": "string"
          }
        ],
        "responses": {
          "default": {
            "description": ""
          }
        },
        "operationId": "post_api_events_{id}_complete",
        "tags": [
          "Events"
        ]
      }
    },
    "/api/events/{id}/vitals/response": {
      "post": {
        "description": "POST operation for /api/events/{id}/vitals/response",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          },
          {
            "name": "m",
            "in": "query",
            "type": "string"
          }
        ],
        "responses": {
          "default": {
            "description": ""
          }
        },
        "operationId": "post_api_events_{id}_vitals_response",
        "tags": [
          "Events"
        ]
      },
      "delete": {
        "description": "DELETE operation for /api/events/{id}/vitals/response",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          },
          {
            "name": "m",
            "in": "query",
            "type": "string"
          }
        ],
        "responses": {
          "default": {
            "description": ""
          }
        },
        "operationId": "delete_api_events_{id}_vitals_response",
        "tags": [
          "Events"
        ]
      }
    },
    "/api/medications/{id}": {
      "get": {
        "description": "GET operation for /api/medications/{id}",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          },
          {
            "name": "m",
            "in": "query",
            "type": "string"
          }
        ],
        "responses": {
          "401": {
            "description": "Unauthorized"
          }
        },
        "operationId": "get_api_medications_{id}",
        "tags": [
          "Medications"
        ]
      },
      "post": {
        "description": "POST operation for /api/medications/{id}",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          },
          {
            "name": "m",
            "in": "query",
            "type": "string"
          }
        ],
        "responses": {
          "401": {
            "description": "Unauthorized"
          }
        },
        "operationId": "post_api_medications_{id}",
        "tags": [
          "Medications"
        ]
      },
      "delete": {
        "description": "DELETE operation for /api/medications/{id}",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          },
          {
            "name": "m",
            "in": "query",
            "type": "string"
          }
        ],
        "responses": {
          "401": {
            "description": "Unauthorized"
          }
        },
        "operationId": "delete_api_medications_{id}",
        "tags": [
          "Medications"
        ]
      }
    },
    "/api/medications/{patient_id}/details": {
      "get": {
        "description": "GET operation for /api/medications/{patient_id}/details",
        "parameters": [
          {
            "name": "patient_id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          },
          {
            "name": "m",
            "in": "query",
            "type": "string"
          }
        ],
        "responses": {
          "default": {
            "description": ""
          }
        },
        "operationId": "get_api_medications_{patient_id}_details",
        "tags": [
          "Medications"
        ]
      }
    },
    "/api/medications/treatment/{patient_id}/{carePlanId}": {
      "post": {
        "description": "POST operation for /api/medications/treatment/{patient_id}/{carePlanId}",
        "parameters": [
          {
            "name": "patient_id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "carePlanId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          },
          {
            "name": "m",
            "in": "query",
            "type": "string"
          }
        ],
        "responses": {
          "401": {
            "description": "Unauthorized"
          }
        },
        "operationId": "post_api_medications_treatment_{patient_id}_{carePlanId}",
        "tags": [
          "Medications"
        ]
      }
    },
    "/api/medications/{id}/timeline": {
      "get": {
        "description": "GET operation for /api/medications/{id}/timeline",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          },
          {
            "name": "m",
            "in": "query",
            "type": "string"
          }
        ],
        "responses": {
          "401": {
            "description": "Unauthorized"
          }
        },
        "operationId": "get_api_medications_{id}_timeline",
        "tags": [
          "Medications"
        ]
      }
    },
    "/api/medicines/": {
      "get": {
        "description": "GET operation for /api/medicines/",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          },
          {
            "name": "m",
            "in": "query",
            "type": "string"
          },
          {
            "name": "value",
            "in": "query",
            "type": "string"
          }
        ],
        "responses": {
          "default": {
            "description": ""
          }
        },
        "operationId": "get_api_medicines",
        "tags": [
          "Medicines"
        ]
      },
      "post": {
        "description": "POST operation for /api/medicines/",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          },
          {
            "name": "m",
            "in": "query",
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "name": {
                  "example": "any"
                },
                "type": {
                  "example": "any"
                },
                "generic_name": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {
          "default": {
            "description": ""
          }
        },
        "operationId": "post_api_medicines",
        "tags": [
          "Medicines"
        ]
      }
    },
    "/api/patients/": {
      "post": {
        "description": "POST operation for /api/patients/",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          },
          {
            "name": "m",
            "in": "query",
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "mobile_number": {
                  "example": "any"
                },
                "name": {
                  "example": "any"
                },
                "patient_uid": {
                  "example": "any"
                },
                "gender": {
                  "example": "any"
                },
                "date_of_birth": {
                  "example": "any"
                },
                "prefix": {
                  "example": "any"
                },
                "comorbidities": {
                  "example": "any"
                },
                "allergies": {
                  "example": "any"
                },
                "clinical_notes": {
                  "example": "any"
                },
                "height": {
                  "example": "any"
                },
                "weight": {
                  "example": "any"
                },
                "symptoms": {
                  "example": "any"
                },
                "address": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {
          "default": {
            "description": ""
          }
        },
        "operationId": "post_api_patients",
        "tags": [
          "Patients"
        ]
      },
      "get": {
        "description": "GET operation for /api/patients/",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          },
          {
            "name": "m",
            "in": "query",
            "type": "string"
          }
        ],
        "responses": {
          "default": {
            "description": ""
          }
        },
        "operationId": "get_api_patients",
        "tags": [
          "Patients"
        ]
      }
    },
    "/api/patients/create-patient": {
      "post": {
        "description": "POST operation for /api/patients/create-patient",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          },
          {
            "name": "m",
            "in": "query",
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "pid": {
                  "example": "any"
                },
                "profile_pic": {
                  "example": "any"
                },
                "name": {
                  "example": "any"
                },
                "email": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {
          "default": {
            "description": ""
          }
        },
        "operationId": "post_api_patients_create-patient",
        "tags": [
          "Patients"
        ]
      }
    },
    "/api/patients/{id}/consents/request": {
      "post": {
        "description": "POST operation for /api/patients/{id}/consents/request",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          },
          {
            "name": "m",
            "in": "query",
            "type": "string"
          }
        ],
        "responses": {
          "default": {
            "description": ""
          }
        },
        "operationId": "post_api_patients_{id}_consents_request",
        "tags": [
          "Patients"
        ]
      }
    },
    "/api/patients/consents/payments": {
      "post": {
        "description": "POST operation for /api/patients/consents/payments",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          },
          {
            "name": "m",
            "in": "query",
            "type": "string"
          }
        ],
        "responses": {
          "default": {
            "description": ""
          }
        },
        "operationId": "post_api_patients_consents_payments",
        "tags": [
          "Patients"
        ]
      }
    },
    "/api/patients/consents/verify": {
      "post": {
        "description": "POST operation for /api/patients/consents/verify",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          },
          {
            "name": "m",
            "in": "query",
            "type": "string"
          }
        ],
        "responses": {
          "default": {
            "description": ""
          }
        },
        "operationId": "post_api_patients_consents_verify",
        "tags": [
          "Patients"
        ]
      }
    },
    "/api/patients/pagination": {
      "get": {
        "description": "GET operation for /api/patients/pagination",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          },
          {
            "name": "m",
            "in": "query",
            "type": "string"
          }
        ],
        "responses": {
          "default": {
            "description": ""
          }
        },
        "operationId": "get_api_patients_pagination",
        "tags": [
          "Patients"
        ]
      }
    },
    "/api/patients/searchpatient": {
      "get": {
        "description": "GET operation for /api/patients/searchpatient",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          },
          {
            "name": "m",
            "in": "query",
            "type": "string"
          }
        ],
        "responses": {
          "default": {
            "description": ""
          }
        },
        "operationId": "get_api_patients_searchpatient",
        "tags": [
          "Patients"
        ]
      }
    },
    "/api/patients/servicesubplan": {
      "get": {
        "description": "GET operation for /api/patients/servicesubplan",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          },
          {
            "name": "m",
            "in": "query",
            "type": "string"
          },
          {
            "name": "provider_id",
            "in": "query",
            "type": "string"
          },
          {
            "name": "patient_id",
            "in": "query",
            "type": "string"
          },
          {
            "name": "provider_type",
            "in": "query",
            "type": "string"
          },
          {
            "name": "doctor_id",
            "in": "query",
            "type": "string"
          }
        ],
        "responses": {
          "default": {
            "description": ""
          }
        },
        "operationId": "get_api_patients_servicesubplan",
        "tags": [
          "Patients"
        ]
      }
    },
    "/api/patients/{patient_id}": {
      "get": {
        "description": "GET operation for /api/patients/{patient_id}",
        "parameters": [
          {
            "name": "patient_id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          },
          {
            "name": "m",
            "in": "query",
            "type": "string"
          }
        ],
        "responses": {
          "default": {
            "description": ""
          }
        },
        "operationId": "get_api_patients_{patient_id}",
        "tags": [
          "Patients"
        ]
      }
    },
    "/api/patients/{id}/appointments": {
      "get": {
        "description": "GET operation for /api/patients/{id}/appointments",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          },
          {
            "name": "m",
            "in": "query",
            "type": "string"
          }
        ],
        "responses": {
          "default": {
            "description": ""
          }
        },
        "operationId": "get_api_patients_{id}_appointments",
        "tags": [
          "Patients"
        ]
      }
    },
    "/api/patients/{id}/medications": {
      "get": {
        "description": "GET operation for /api/patients/{id}/medications",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          },
          {
            "name": "m",
            "in": "query",
            "type": "string"
          }
        ],
        "responses": {
          "default": {
            "description": ""
          }
        },
        "operationId": "get_api_patients_{id}_medications",
        "tags": [
          "Patients"
        ]
      }
    },
    "/api/patients/{id}/careplan-details": {
      "get": {
        "description": "GET operation for /api/patients/{id}/careplan-details",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          },
          {
            "name": "m",
            "in": "query",
            "type": "string"
          }
        ],
        "responses": {
          "default": {
            "description": ""
          }
        },
        "operationId": "get_api_patients_{id}_careplan-details",
        "tags": [
          "Patients"
        ]
      }
    },
    "/api/patients/{id}/careplan-details-sec-doc": {
      "get": {
        "description": "GET operation for /api/patients/{id}/careplan-details-sec-doc",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          },
          {
            "name": "m",
            "in": "query",
            "type": "string"
          }
        ],
        "responses": {
          "default": {
            "description": ""
          }
        },
        "operationId": "get_api_patients_{id}_careplan-details-sec-doc",
        "tags": [
          "Patients"
        ]
      }
    },
    "/api/patients/{patient_id}/symptoms": {
      "get": {
        "description": "GET operation for /api/patients/{patient_id}/symptoms",
        "parameters": [
          {
            "name": "patient_id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          },
          {
            "name": "m",
            "in": "query",
            "type": "string"
          }
        ],
        "responses": {
          "default": {
            "description": ""
          }
        },
        "operationId": "get_api_patients_{patient_id}_symptoms",
        "tags": [
          "Patients"
        ]
      }
    },
    "/api/patients/{careplan_id}/vitals": {
      "get": {
        "description": "GET operation for /api/patients/{careplan_id}/vitals",
        "parameters": [
          {
            "name": "careplan_id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          },
          {
            "name": "m",
            "in": "query",
            "type": "string"
          }
        ],
        "responses": {
          "default": {
            "description": ""
          }
        },
        "operationId": "get_api_patients_{careplan_id}_vitals",
        "tags": [
          "Patients"
        ]
      }
    },
    "/api/patients/{patient_id}/reports": {
      "get": {
        "description": "GET operation for /api/patients/{patient_id}/reports",
        "parameters": [
          {
            "name": "patient_id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          },
          {
            "name": "m",
            "in": "query",
            "type": "string"
          }
        ],
        "responses": {
          "default": {
            "description": ""
          }
        },
        "operationId": "get_api_patients_{patient_id}_reports",
        "tags": [
          "Patients"
        ]
      }
    },
    "/api/patients/{patient_id}/parts/symptoms": {
      "get": {
        "description": "GET operation for /api/patients/{patient_id}/parts/symptoms",
        "parameters": [
          {
            "name": "patient_id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          },
          {
            "name": "m",
            "in": "query",
            "type": "string"
          }
        ],
        "responses": {
          "default": {
            "description": ""
          }
        },
        "operationId": "get_api_patients_{patient_id}_parts_symptoms",
        "tags": [
          "Patients"
        ]
      }
    },
    "/api/patients/add-careplan-for-patient/{patient_id}": {
      "post": {
        "description": "POST operation for /api/patients/add-careplan-for-patient/{patient_id}",
        "parameters": [
          {
            "name": "patient_id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          },
          {
            "name": "m",
            "in": "query",
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "clinical_notes": {
                  "example": "any"
                },
                "follow_up_advise": {
                  "example": "any"
                },
                "diagnosis_type": {
                  "example": "any"
                },
                "diagnosis_description": {
                  "example": "any"
                },
                "treatment_id": {
                  "example": "any"
                },
                "severity_id": {
                  "example": "any"
                },
                "condition_id": {
                  "example": "any"
                },
                "symptoms": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {
          "default": {
            "description": ""
          }
        },
        "operationId": "post_api_patients_add-careplan-for-patient_{patient_id}",
        "tags": [
          "Patients"
        ]
      }
    },
    "/api/patients/generate_prescription/{care_plan_id}": {
      "get": {
        "description": "GET operation for /api/patients/generate_prescription/{care_plan_id}",
        "parameters": [
          {
            "name": "care_plan_id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          },
          {
            "name": "m",
            "in": "query",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "operationId": "get_api_patients_generate_prescription_{care_plan_id}",
        "tags": [
          "Patients"
        ]
      }
    },
    "/api/patients/servicesubplan/{patient_id}": {
      "get": {
        "description": "GET operation for /api/patients/servicesubplan/{patient_id}",
        "parameters": [
          {
            "name": "patient_id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          },
          {
            "name": "m",
            "in": "query",
            "type": "string"
          }
        ],
        "responses": {
          "default": {
            "description": ""
          }
        },
        "operationId": "get_api_patients_servicesubplan_{patient_id}",
        "tags": [
          "Patients"
        ]
      }
    },
    "/api/patients/servicesubplan/doctor/{patient_id}": {
      "get": {
        "description": "GET operation for /api/patients/servicesubplan/doctor/{patient_id}",
        "parameters": [
          {
            "name": "patient_id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          },
          {
            "name": "m",
            "in": "query",
            "type": "string"
          }
        ],
        "responses": {
          "default": {
            "description": ""
          }
        },
        "operationId": "get_api_patients_servicesubplan_doctor_{patient_id}",
        "tags": [
          "Patients"
        ]
      }
    },
[...]
