swagger: '2.0'
info:
  version: 0.1.0
  title: AdhereLive API
  description: |-
    # Description 
     This API offers a collection of operations for the provision of Health related information from the database and is designed to support intelligent workflow solutions.
     ## Common Status Codes 
     |**Response Status Code**       | **Description**                                                  | 
     |------------------------       | ---------------                                                  | 
     |**200 OK**                     | Standard status code for successful HTTP requests.               | 
     |**201 Created**                | A new resource has been created successfully.                    | 
     |**400 Bad Request**            | Request is invalid due to syntax, validation errors, etc.        | 
     |**401 Unauthorized**           | An authentication error occurred.                                | 
     |**403 Forbidden**              | Access to resource is forbidden.                                 | 
     |**404 Not Found**              | The requested resource could not be found.                       | 
     |**405 Method Not Allowed**     | The method used is not supported for the requested resource.     | 
     |**415 Unsupported Media Type** | Content-Type header with an unsupported media type was provided. | 
     |**429 Too Many Requests**      | The user has sent too many requests beyond the throttling limit. | 
     |**500 Internal Server Error**  | An unexpected internal error occurred.                           | 
     |**503 Service Unavailable**    | The service is temporarily unavailable.                          | 
     
  termsOfService: 'http://adhere.live/terms/'
  contact:
    email: info@adhere.live
host: api.adhere.live
basePath: /api/v0.1
tags:
  - name: adherence
    description: Hospital Patient Adherence System
    externalDocs:
      description: Contact Us for more information
      url: 'http://adhere.live/contactus'
  - name: provider
    description: Hospital Provider Information
  - name: patient
    description: INformation about the Patient and his Medication
    externalDocs:
      description: >-
        Mobile application, which informs the patient about his medication
        careplan
      url: 'http://adhere.live/patient'
schemes:
  - https
  - http
securityDefinitions:
  adhere_auth:
    type: oauth2
    description: Adhere OAuth2 Provider
    authorizationUrl: 'http://adhere.live/oauth/dialog'
    flow: implicit
    scopes:
      'write:patients': allows modifying resources
      'read:patients': allows reading resources
  api_key:
    type: apiKey
    name: adherelive_api_key
    in: header
paths:
  '/dashboards/graphs/{number}/{ClinicianID}/{ProviderID}':
    get:
      tags:
        - 'Adhere Live, Dashboard'
      summary: >-
        Fetch all the values for the graphs/analytics to be displayed on the
        main page
      description: >-
        The top graphs to be shown on the dashboard page. The number is the
        total graphs that will be fetched and displayed on the dashboard page.
      operationId: getAllGraphs
      consumes:
        - application/json
        - application/xml
      produces:
        - application/json
        - application/xml
      parameters:
        - $ref: '#/parameters/HDR-Client-Id'
        - $ref: '#/parameters/HDR-Content-Type'
        - $ref: '#/parameters/HDR-Party-Id'
        - in: path
          name: number
          type: integer
          description: The total number of graphs to be shown on the main dashboard page
          required: true
        - in: path
          name: ClinicianID
          type: string
          description: The logged in User ID for the Clinician
          required: true
        - in: path
          name: ProviderID
          type: string
          description: THe logged in ID of the Provider for which the Clinician belongs to
          required: true
      responses:
        '200':
          description: Graph data received
          headers:
            X-RateLimit-Limit:
              type: integer
              description: Request limit per hour.
            X-RateLimit-Remaining:
              type: integer
              description: The number of requests left for the time window.
            X-RateLimit-Reset:
              type: string
              format: date-time
              description: The UTC date/time at which the current rate limit window resets.
          schema:
            $ref: '#/definitions/Graphs'
        '400':
          description: Invalid number supplied
        '404':
          description: Graph not found
        '405':
          description: Validation exception
      security:
        - adhere_auth:
            - 'write:patients'
            - 'read:patients'
  '/dashboards/patients/{number}/{ClinicianID}/{ProviderID}':
    get:
      tags:
        - 'Adhere Live, Dashboard'
      summary: Fetch all the patients for a particular Clinician and Provider
      description: >-
        We shall be displaying only a set of 5 patients at one time. The
        additional patients shall be fetched when the user clicks on the NEXT
        button in pagination.
      operationId: getAllPatients
      consumes:
        - application/json
        - application/xml
      produces:
        - application/json
        - application/xml
      parameters:
        - $ref: '#/parameters/HDR-Client-Id'
        - $ref: '#/parameters/HDR-Content-Type'
        - $ref: '#/parameters/HDR-Party-Id'
        - in: path
          name: number
          type: string
          description: >-
            Multiple patients object that need to be retrieved for the Clinician
            and Provider ID's. This defines how many can be on a single
            dashboard page
          required: true
        - in: path
          name: ClinicianID
          type: string
          description: The logged in User ID for the Clinician
          required: true
        - in: path
          name: ProviderID
          type: string
          description: THe logged in ID of the Provider for which the Clinician belongs to
          required: true
      responses:
        '200':
          description: Patients for Clinician->Provider retrived
          headers:
            X-RateLimit-Limit:
              type: integer
              description: Request limit per hour.
            X-RateLimit-Remaining:
              type: integer
              description: The number of requests left for the time window.
            X-RateLimit-Reset:
              type: string
              format: date-time
              description: The UTC date/time at which the current rate limit window resets.
          schema:
            $ref: '#/definitions/Patients'
        '400':
          description: Invalid ID supplied
        '404':
          description: No records found
        '405':
          description: Validation exception
      security:
        - adhere_auth:
            - 'write:patients'
            - 'read:patients'
  /patient:
    post:
      tags:
        - 'Adhere Live, Patient'
      summary: Add a new patient
      description: Create a New Patient in the Database
      operationId: addPatient
      consumes:
        - application/json
        - application/xml
      produces:
        - application/json
        - application/xml
      parameters:
        - $ref: '#/parameters/HDR-Client-Id'
        - $ref: '#/parameters/HDR-Content-Type'
        - $ref: '#/parameters/HDR-Party-Id'
        - in: body
          name: body
          description: Patient object that needs to be added for the Clinician and Provider
          required: true
          schema:
            $ref: '#/definitions/Patient'
      responses:
        '201':
          description: Patient Record Created
        '405':
          description: Invalid input
      security:
        - adhere_auth:
            - 'write:patients'
            - 'read:patients'
    put:
      tags:
        - 'Adhere Live, Patient'
      summary: Update an existing patient
      description: Update the existing Patient record in Database for a Clinician
      operationId: updatePatient
      consumes:
        - application/json
        - application/xml
      produces:
        - application/json
        - application/xml
      parameters:
        - $ref: '#/parameters/HDR-Client-Id'
        - $ref: '#/parameters/HDR-Content-Type'
        - $ref: '#/parameters/HDR-Party-Id'
        - in: body
          name: body
          description: >-
            Patient object that needs to be updated for the Clinician and the
            Provider
          required: true
          schema:
            $ref: '#/definitions/Patient'
      responses:
        '200':
          description: Patient Record Updated
        '400':
          description: Invalid ID supplied
        '404':
          description: Patient not found
        '405':
          description: Validation exception
      security:
        - adhere_auth:
            - 'write:patients'
            - 'read:patients'
  '/patient/{patientId}':
    get:
      tags:
        - 'Adhere Live, Patient'
      summary: Retrive information about an existing patient
      description: >-
        Get the information for a Patient from the Database, this will be a
        multiple patient ID record?
      operationId: getPatient
      consumes:
        - application/json
        - application/xml
      produces:
        - application/json
        - application/xml
      parameters:
        - $ref: '#/parameters/HDR-Client-Id'
        - $ref: '#/parameters/HDR-Content-Type'
        - $ref: '#/parameters/HDR-Party-Id'
        - in: path
          name: patientId
          type: integer
          description: >-
            Patient object that needs to be retrieved for the Clinician and the
            Provider
          required: true
      responses:
        '200':
          description: Patient Record Retrived successfully
          headers:
            X-RateLimit-Limit:
              type: integer
              description: Request limit per hour.
            X-RateLimit-Remaining:
              type: integer
              description: The number of requests left for the time window.
            X-RateLimit-Reset:
              type: string
              format: date-time
              description: The UTC date/time at which the current rate limit window resets.
          schema:
            $ref: '#/definitions/Patient'          
        '400':
          description: Invalid ID supplied
        '404':
          description: Patient not found
        '405':
          description: Validation exception
      security:
        - adhere_auth:
            - 'write:patients'
            - 'read:patients'
parameters:
  HDR-Client-Id:
    name: X-Client-Id
    in: header
    type: string
    required: true
    description: Client ID
  HDR-Content-Type:
    name: Content-Type
    in: header
    type: string
    required: true
    description: Content type - always application/json.
  HDR-Party-Id:
    name: X-Party-Id
    in: header
    type: string
    required: false
    description: Party ID of the service client (optional).
  HDR-Accept:
    name: Accept
    in: header
    type: string
    required: false
    description: >-
      To indicate whether to send the resource as application/pdf or text/plain
      (optional field). text/plain will still send only the encoded PDF byte
      array; not a text version of the PDF document.
definitions:
  Category:
    type: object
    properties:
      id:
        type: integer
        format: int64
      name:
        type: string
    xml:
      name: Category
  Clinician:
    type: object
    required:
      - clinicianName
      - firstName
      - lastName
      - address
      - emailId
      - phoneNumber
      - createdDate
      - status
    properties:
      id:
        type: integer
        format: int64
      clinicianName:
        type: string
      firstName:
        type: string
      lastName:
        type: string
      emailId:
        type: string
      password:
        type: string
      phoneNumber:
        type: string
      createdDate:
        type: integer
        format: date
      status:
        type: string
        description: patient status for a Clinician
        enum:
          - individual
          - withProvider
    xml:
      name: Clinician
  Graphs:
    type: object
    required:
      - totalGraphs
    properties:
      totalGraphs:
        type: integer
        format: int
      graphId1:
        type: integer
        format: int64
      graphId2:
        type: integer
        format: int64
      graphId3:
        type: integer
        format: int64
      graphId4:
        type: integer
        format: int64
    xml:
      name: Graphs
  Tag:
    type: object
    properties:
      id:
        type: integer
        format: int64
      name:
        type: string
    xml:
      name: Tag
  Patient:
    type: object
    required:
      - firstName
      - lastName
      - address
      - emailId
      - phoneNumber
      - preferredMethod
      - createdDate
      - status
    properties:
      id:
        type: integer
        format: int64
      category:
        $ref: '#/definitions/Category'
      first-name:
        type: string
        example: ABC
      middle-name:
        type: string
        example: ABC
      last-name:
        type: string
        example: ABC
      password:
        type: string
      phone-number:
        type: string
      createdDate:
        type: integer
        format: date
      tags:
        type: array
        xml:
          name: tag
          wrapped: true
        items:
          $ref: '#/definitions/Tag'
      status:
        type: string
        description: patient status for a Clinician
        enum:
          - current
          - previous
          - notAPatient
    xml:
      name: Patient
  Patients:
    type: array
    items:
      type: array
      items:
        allOf:
          - type: array
          - $ref: '#/definitions/Patient'
    minItems: 0
    maxItems: 10
    xml:
      name: Patients
  ApiResponse:
    type: object
    properties:
      code:
        type: integer
        format: int32
      type:
        type: string
      message:
        type: string
externalDocs:
  description: Find out more about AdhereLive
  url: 'http://adhere.live'
