openapi: 3.0.1
info:
  title: AdhereLive API
  description: "# Description \n This API offers a collection of operations for the\
    \ provision of Health related information from the database and is designed to\
    \ support intelligent workflow solutions.\n ## Common Status Codes \n 
    \ |**Response Status Code**       | **Description**                                                  | \n 
    \ |------------------------       | ---------------                                                  | \n 
    \ |**200 OK**                     | Standard status code for successful HTTP requests.               | \n 
    \ |**201 Created**                | A new resource has been created successfully.                    | \n 
    \ |**400 Bad Request**            | Request is invalid due to syntax, validation errors, etc.        | \n 
    \ |**401 Unauthorized**           | An authentication error occurred.                                | \n 
    \ |**403 Forbidden**              | Access to resource is forbidden.                                 | \n 
    \ |**404 Not Found**              | The requested resource could not be found.                       | \n 
    \ |**405 Method Not Allowed**     | The method used is not supported for the requested resource.     | \n 
    \ |**415 Unsupported Media Type** | Content-Type header with an unsupported media type was provided. | \n 
    \ |**429 Too Many Requests**      | The user has sent too many requests beyond the throttling limit. | \n 
    \ |**500 Internal Server Error**  | An unexpected internal error occurred.                           | \n 
    \ |**503 Service Unavailable**    | The service is temporarily unavailable.                          | \n "
  termsOfService: http://adhere.live/terms/
  contact:
    email: info@adhere.live
  version: 0.1.0
externalDocs:
  description: Find out more about Adhere
  url: http://adhere.live
servers:
- url: https://api.adhere.live/api/v0.1
- url: http://api.adhere.live/api/v0.1
tags:
- name: adherence
  description: Hospital Patient Adherence System
  externalDocs:
    description: Contact Us for more information
    url: http://adhere.live/contactus
- name: provider
  description: Hospital Provider Information
- name: patient
  description: INformation about the Patient and his Medication
  externalDocs:
    description: Mobile application, which informs the patient about his medication
      careplan
    url: http://adhere.live/patient
paths:
  /dashboards/graphs/{number}/{ClinicianID}/{ProviderID}:
    get:
      tags:
      - Adhere Live, Dashboard
      summary: Fetch all the values for the graphs/analytics to be displayed on the
        main page
      description: The top graphs to be shown on the dashboard page. The number is
        the total graphs that will be fetched and displayed on the dashboard page.
      operationId: getAllGraphs
      parameters:
      - name: X-Client-Id
        in: header
        description: Client ID
        required: true
        schema:
          type: string
      - name: Content-Type
        in: header
        description: Content type - always application/json.
        required: true
        schema:
          type: string
      - name: X-Party-Id
        in: header
        description: Party ID of the service client (optional).
        schema:
          type: string
      - name: number
        in: path
        description: The total number of graphs to be shown on the main dashboard
          page
        required: true
        schema:
          type: integer
      - name: ClinicianID
        in: path
        description: The logged in User ID for the Clinician
        required: true
        schema:
          type: string
      - name: ProviderID
        in: path
        description: THe logged in ID of the Provider for which the Clinician belongs
          to
        required: true
        schema:
          type: string
      responses:
        200:
          description: Graph data received
          headers:
            X-RateLimit-Remaining:
              description: The number of requests left for the time window.
              schema:
                type: integer
            X-RateLimit-Reset:
              description: The UTC date/time at which the current rate limit window
                resets.
              schema:
                type: string
                format: date-time
            X-RateLimit-Limit:
              description: Request limit per hour.
              schema:
                type: integer
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Graphs'
            application/xml:
              schema:
                $ref: '#/components/schemas/Graphs'
        400:
          description: Invalid number supplied
          content: {}
        404:
          description: Graph not found
          content: {}
        405:
          description: Validation exception
          content: {}
      security:
      - adhere_auth:
        - write:patients
        - read:patients
  /dashboards/patients/{number}/{ClinicianID}/{ProviderID}:
    get:
      tags:
      - Adhere Live, Dashboard
      summary: Fetch all the patients for a particular Clinician and Provider
      description: We shall be displaying only a set of 5 patients at one time. The
        additional patients shall be fetched when the user clicks on the NEXT button
        in pagination.
      operationId: getAllPatients
      parameters:
      - name: X-Client-Id
        in: header
        description: Client ID
        required: true
        schema:
          type: string
      - name: Content-Type
        in: header
        description: Content type - always application/json.
        required: true
        schema:
          type: string
      - name: X-Party-Id
        in: header
        description: Party ID of the service client (optional).
        schema:
          type: string
      - name: number
        in: path
        description: Multiple patients object that need to be retrieved for the Clinician
          and Provider ID's. This defines how many can be on a single dashboard page
        required: true
        schema:
          type: string
      - name: ClinicianID
        in: path
        description: The logged in User ID for the Clinician
        required: true
        schema:
          type: string
      - name: ProviderID
        in: path
        description: THe logged in ID of the Provider for which the Clinician belongs
          to
        required: true
        schema:
          type: string
      responses:
        200:
          description: Patients for Clinician->Provider retrived
          headers:
            X-RateLimit-Remaining:
              description: The number of requests left for the time window.
              schema:
                type: integer
            X-RateLimit-Reset:
              description: The UTC date/time at which the current rate limit window
                resets.
              schema:
                type: string
                format: date-time
            X-RateLimit-Limit:
              description: Request limit per hour.
              schema:
                type: integer
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Patients'
            application/xml:
              schema:
                $ref: '#/components/schemas/Patients'
        400:
          description: Invalid ID supplied
          content: {}
        404:
          description: No records found
          content: {}
        405:
          description: Validation exception
          content: {}
      security:
      - adhere_auth:
        - write:patients
        - read:patients
  /patient:
    put:
      tags:
      - Adhere Live, Patient
      summary: Update an existing patient
      description: Update the existing Patient record in Database for a Clinician
      operationId: updatePatient
      parameters:
      - name: X-Client-Id
        in: header
        description: Client ID
        required: true
        schema:
          type: string
      - name: Content-Type
        in: header
        description: Content type - always application/json.
        required: true
        schema:
          type: string
      - name: X-Party-Id
        in: header
        description: Party ID of the service client (optional).
        schema:
          type: string
      requestBody:
        description: Patient object that needs to be updated for the Clinician and
          the Provider
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Patient'
          application/xml:
            schema:
              $ref: '#/components/schemas/Patient'
        required: true
      responses:
        200:
          description: Patient Record Updated
          content: {}
        400:
          description: Invalid ID supplied
          content: {}
        404:
          description: Patient not found
          content: {}
        405:
          description: Validation exception
          content: {}
      security:
      - adhere_auth:
        - write:patients
        - read:patients
      x-codegen-request-body-name: body
    post:
      tags:
      - Adhere Live, Patient
      summary: Add a new patient
      description: Create a New Patient in the Database
      operationId: addPatient
      parameters:
      - name: X-Client-Id
        in: header
        description: Client ID
        required: true
        schema:
          type: string
      - name: Content-Type
        in: header
        description: Content type - always application/json.
        required: true
        schema:
          type: string
      - name: X-Party-Id
        in: header
        description: Party ID of the service client (optional).
        schema:
          type: string
      requestBody:
        description: Patient object that needs to be added for the Clinician and Provider
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Patient'
          application/xml:
            schema:
              $ref: '#/components/schemas/Patient'
        required: true
      responses:
        201:
          description: Patient Record Created
          content: {}
        405:
          description: Invalid input
          content: {}
      security:
      - adhere_auth:
        - write:patients
        - read:patients
      x-codegen-request-body-name: body
  /patient/{patientId}:
    get:
      tags:
      - Adhere Live, Patient
      summary: Retrive information about an existing patient
      description: Get the information for a Patient from the Database, this will
        be a multiple patient ID record?
      operationId: getPatient
      parameters:
      - name: X-Client-Id
        in: header
        description: Client ID
        required: true
        schema:
          type: string
      - name: Content-Type
        in: header
        description: Content type - always application/json.
        required: true
        schema:
          type: string
      - name: X-Party-Id
        in: header
        description: Party ID of the service client (optional).
        schema:
          type: string
      - name: patientId
        in: path
        description: Patient object that needs to be retrieved for the Clinician and
          the Provider
        required: true
        schema:
          type: integer
      responses:
        200:
          description: Patients for Clinician->Provider retrived
          headers:
            X-RateLimit-Remaining:
              description: The number of requests left for the time window.
              schema:
                type: integer
            X-RateLimit-Reset:
              description: The UTC date/time at which the current rate limit window
                resets.
              schema:
                type: string
                format: date-time
            X-RateLimit-Limit:
              description: Request limit per hour.
              schema:
                type: integer
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Patient'
            application/xml:
              schema:
                $ref: '#/components/schemas/Patient'
        400:
          description: Invalid ID supplied
          content: {}
        404:
          description: Patient not found
          content: {}
        405:
          description: Validation exception
          content: {}
      security:
      - adhere_auth:
        - write:patients
        - read:patients
components:
  schemas:
    Category:
      type: object
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
      xml:
        name: Category
    Clinician:
      required:
      - clinicianName
      - createdDate
      - emailId
      - firstName
      - lastName
      - phoneNumber
      - status
      type: object
      properties:
        id:
          type: integer
          format: int64
        clinicianName:
          type: string
        firstName:
          type: string
        lastName:
          type: string
        emailId:
          type: string
        password:
          type: string
        phoneNumber:
          type: string
        createdDate:
          type: integer
          format: date
        status:
          type: string
          description: patient status for a Clinician
          enum:
          - individual
          - withProvider
      xml:
        name: Clinician
    Graphs:
      required:
      - totalGraphs
      type: object
      properties:
        totalGraphs:
          type: integer
          format: int
        graphId1:
          type: integer
          format: int64
        graphId2:
          type: integer
          format: int64
        graphId3:
          type: integer
          format: int64
        graphId4:
          type: integer
          format: int64
      xml:
        name: Graphs
    Tag:
      type: object
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
      xml:
        name: Tag
    Patient:
      required:
      - createdDate
      - status
      type: object
      properties:
        id:
          type: integer
          format: int64
        category:
          $ref: '#/components/schemas/Category'
        first-name:
          type: string
          example: ABC
        middle-name:
          type: string
          example: ABC
        last-name:
          type: string
          example: ABC
        password:
          type: string
        phone-number:
          type: string
        createdDate:
          type: integer
          format: date
        tags:
          type: array
          xml:
            name: tag
            wrapped: true
          items:
            $ref: '#/components/schemas/Tag'
        status:
          type: string
          description: patient status for a Clinician
          enum:
          - current
          - previous
          - notAPatient
      xml:
        name: Patient
    Patients:
      maxItems: 10
      minItems: 0
      type: array
      xml:
        name: Patients
      items:
        type: array
        items:
          type: object
          allOf:
          - type: array
          - $ref: '#/components/schemas/Patient'
    ApiResponse:
      type: object
      properties:
        code:
          type: integer
          format: int32
        type:
          type: string
        message:
          type: string
  parameters:
    HDR-Client-Id:
      name: X-Client-Id
      in: header
      description: Client ID
      required: true
      schema:
        type: string
    HDR-Content-Type:
      name: Content-Type
      in: header
      description: Content type - always application/json.
      required: true
      schema:
        type: string
    HDR-Party-Id:
      name: X-Party-Id
      in: header
      description: Party ID of the service client (optional).
      schema:
        type: string
    HDR-Accept:
      name: Accept
      in: header
      description: To indicate whether to send the resource as application/pdf or
        text/plain (optional field). text/plain will still send only the encoded PDF
        byte array; not a text version of the PDF document.
      schema:
        type: string
  securitySchemes:
    adhere_auth:
      type: oauth2
      description: AdhereLive OAuth2 Provider
      flows:
        implicit:
          authorizationUrl: http://adhere.live/oauth/dialog
          scopes:
            write:patients: allows modifying resources
            read:patients: allows reading resources
    api_key:
      type: apiKey
      name: adhere_api_key
      in: header
